html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(235, 18%, 26%);
}

@import url('https://fonts.google.com/specimen/Roboto');

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container p {
  font-size: 16px;
  width: 90%;
  line-height: 1.5rem;
  color: hsl(234, 29%, 20%);
  font-weight: 400;
}

.container {
  background: white;
  height: fit-content;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.container-text {
  padding: 3rem 3rem 3rem 3rem;
  grid-column: 1;
}

.container-header {
  text-align: left;
  font-size: 1.8em;
  color: hsl(234, 29%, 20%);
  margin: 2rem 0 2rem 0;
}


.container-list {
  padding: 0px;
  margin: 0px;
  margin: 1rem 0 1rem 0;
}

.container-img {
  grid-column: 2;
  margin: 1.5rem 1.5rem 1.5rem 0;
}
.container-img > object {
  height: auto;
  width: 100%;
}

.container-form {
  width: 100%;
  margin-top: 2rem;
}

.container-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-list li {
  background-image: URL("../Newsletter-Sign-up/assets/images/icon-list.svg");
  background-repeat: no-repeat;
  background-position: 5px;
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

input[type="text"] {
  height: 3.2rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  padding-left: 1.5rem;
  border: 1px solid hsl(231, 7%, 60%);
  opacity: 0.8;
  cursor: pointer;
  font-size: 16px;
}

input::placeholder {
  color: hsl(231, 7%, 60%);
  font-size: 16px;
}

button {
  font-size: 16px;
  font-weight: bold;
  color: white !important;
  height: 3.2rem;
  border-radius: 8px;
  margin: 0px;
  border: none !important;
  background-color: hsl(234, 29%, 20%);
  cursor: pointer;
}

button:hover {
  background: linear-gradient(90deg, rgba(224, 58, 112, 1) 0%, rgb(231, 125, 43) 100%);
  box-shadow: rgba(255, 0, 0, 0.35) 0px 5px 30px;
}

button:active {
  position: relative;
  top: 1px !important;
}

.container-form p {
  font-size: 80%;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.container-form input[type="text"],
.container-form button {
  width: 100%;
  box-sizing: border-box;
}

.container-subs {
  min-width: 250px;
  max-width: 470px;
  max-height: fit-content;
  background-color: white;
  border-radius: 2rem;
  padding: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.container-subs p {
  font-size: 16px;
  line-height: 1.5rem;
  color: hsl(234, 29%, 20%);
  font-weight: 400;
}

.container-subs-image {
  width: min(20%);
  height: fit-content;
  margin-bottom: 0px;
}

.container-subs-text {
  width: 100%;
  height: fit-content;
}
.container-subs-text h1 {
  margin: 0;
  padding: 0;
}
.container-subs button {
  width: 100%;
  margin-top: 1rem;
}
.btn{
  margin-top: 1rem;
}
@media only screen and (max-width: 870px) {
  .container{
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .container-text{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    margin: 0;
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
  }
  .container-list{
    align-self: center;
  }
  .container-form{
    align-self: center;
    margin-bottom: 2rem;
  }
  .container-header{
    align-self: left;
  }
  .container-img{
    grid-column: 1;
    grid-row: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  input[type="text"] {
    margin-bottom: 1rem;
  }
  body{
    overflow: hidden;
  }
}


@media only screen and (max-width: 375px) {
  .container-subs{
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
    border-radius: 0;
    overflow: auto;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
  }
  .container-subs-image object{
    align-self: left;
    padding: 0;
    margin-bottom: 20px;
  }
  .container-text{
    align-self: center;
  }
  h1{
    font-size:120%;
  }
  body{
    background-color: white;
    overflow: hidden;
  }
  .btn{
    position: absolute;
    bottom: 10px;
    width: 90%;
    margin-bottom: 1rem;
  }

}
